*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff url(../Res/Img/imagens/fundo.png) repeat-x;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
}

#container {
    width: 800px;
    margin: 0 auto;
}

#topo {
    background: url(../Res/Img/imagens/detalhe-topo.png) no-repeat right top;
    height: 150px;
    padding-top: 25px;
}

#listaNaveg {
    width: 81.1%;
    margin-top: 30px;
    background: #b10333;
    display: flex;
}

#listaNaveg li {
    background: url(../Res/Img/imagens/divisor.png) repeat-y;
}

#listaNaveg li a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    color: #fff;
}

#listaNaveg .primeiro{
    background: none;
}

#listaNaveg a:hover{
    color: #66101d;
}

#containerTopo #atual, #containerTopo #atual a {
    background-color: #de003e;
    cursor: text;
}

/* Layout três colunas */

#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
}

#primario {
    background: #de003e;
    float: left;
    margin: 0 0 20px 215px;
    width: 285px;
}

#secundario {
    background: #66101d;
    float: left;
    margin: 0 0 20px 15px;
    width: 285px;
}

#lateral {
    background: #b10333;
    float: left;
    margin: 0 0 20px -800px;
    width: 200px;
}

/* Footer */
footer {
    clear: both;
    background: #294c71;
    padding: 20px;
}

#textoFooter{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}
